# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore Firebase Admin SDK credentials
resources/firebaseAdminSDK.json
resources/firebaseAdminSDK.json

# Environment variables
.env

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Coverage
coverage/
